body {
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.square {
  background-color: black;
  width: 40px;
  height: 40px;
}

#container {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  height: 500px;
  width: 500px;
  border: black solid 2px;
}
