body {
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#square {
  background-color: grey;
}

#square:after {
  background-color: black;
  display: block;
  padding-bottom: 100%;
}

#container {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  height: 800px;
  width: 800px;
  border: black solid 2px;
}
